body, html,php {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #6dc7ca;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form-box {
    width: 300px;
    padding: 40px;
    background-color: #272727;
    text-align: center;

}

.form-title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}

.form-text {
    color: #fff;
}

.form-box input[type="text"], 
.form-box input[type="password"], 
.form-box label[type="text"],
.form-box button[type="submit"] {

    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    padding: 10px 6px;
    text-align: center;
    border: 2px solid #3742FA;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
}

.form-box button[type="submit"] {
    border: 0;
    padding: 15px 10px;
    color: white;
    background: #3742FA;
}

a.button {
    border: 0;
    position: absolute;
    top: 60%;
    padding: 10px 6px;
    color: white;
    background: #3742FA;
    border-radius: 24px;
}